require 'clerq'
require 'thor'

class <%=config[:project].capitalize%> < Thor
  include Thor::Actions

  desc "stat", "Print statistic"
  def stat
    nodes = Clerq::Interactors::JoinNodes.()
    say "#{nodes.to_a.drop(1).size} nodes total"
  end

end
